.AccountModal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: #fff;
  background-color: #fff;
  width: 25rem;
  box-shadow: var(--shadow-5);
  padding: 2rem;
  border-radius: 1rem;
  z-index: 11;
  transition: var(--show-animation);
  visibility: hidden;
  opacity: 0;
}

.AccountModal.opened {
  visibility: visible;
  opacity: 1;
}

.header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 0rem;
  right: 0rem;
  cursor: pointer;
  padding: 0.3rem;
}

.input {
  margin-bottom: 1.75rem;
  position: relative;
}

.showPasswordBtn {
  position: absolute;
  right: 0rem;
  bottom: 50%;
  transform: translateY(50%);
}

.layer#title {
  text-align: center;
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.noAccount {
  text-decoration: underline;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.touchBlocker {
  background-color: #5558629a;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0rem;
  top: 0rem;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out opacity, 0.3s ease-in-out visibility;
}

.touchBlocker.opened {
  opacity: 1;
  visibility: visible;
}