.Sidebar {
  position: fixed;
  top: 0em;
  left: 0em;
  height: 100vh;
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  /* background-color: var(--gray-1); */
  background-color: #fff;
  box-shadow: var(--shadow-7);
  z-index: 3;
}

.Sidebar > div {
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.Sidebar div#focusBackground {
  width: calc(100% - 2.5rem);
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  height: 3.6rem;
  position: absolute;
  transition: 0.15s ease-in-out transform;
  background-color: var(--orange-1);
  border-radius: 0.5rem;
  transform: translateY(-5rem);
}

.SidebarEl {
  height: 4rem;
  display: flex;
  color: var(--gray-3);
  align-items: center;
  margin: 1rem 2rem -1rem 0.5rem;
  cursor: pointer;
  position: relative;
  padding: 0.1rem 0.8rem;
  border-radius: 0.5rem;
}

.SidebarEl i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin-right: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out color, 0.3s ease-in-out background-color;
}

.SidebarEl h3 {
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out color;
}

/* .SidebarEl.activeSidebar {
  background-color: var(--orange-1);
} */

.SidebarEl.activeSidebar i {
  color: var(--orange-4);
}

.SidebarEl.activeSidebar h3 {
  color: var(--orange-4);
}

.Sidebar .buttons {
  position: absolute;
  bottom: 1rem;
  margin: 0rem 1rem;
  width: calc(100% - 1rem);
}

.Sidebar .buttons > div {
  margin: 0rem 0.5rem;
}

@media (max-height: 500px) {
  .SidebarEl i {
    font-size: 1.4rem;
    height: 2.5rem;
    width: 2.5rem;
  }

  .SidebarEl h3 {
    font-size: 1rem;
  }
}
