.LineInput {
  position: relative;
  height: 3.25rem;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  --default-color: var(--gray-3);
  --changed-color: #e91e63;
  width: 100%;
}

.LineInput input {
  border: none;
  width: 100%;
  margin-top: 0.3rem;
}

.icon {
  margin-right: 0.5rem;
  font-size: 1.1rem;
  transition: 0.3s ease-in-out color;
  color: var(--default-color);
}

.lineContainer {
  display: flex;
  width: 100%;
  background-color: #e7e7e7;
  height: 0.1875rem;
  position: absolute;
  bottom: 0rem;
}

input:focus ~ .lineContainer .line {
  width: 50%;
}

.line {
  width: 0%;
  transition: 0.3s ease-in-out width;
  background-color: var(--changed-color);
  position: absolute;
  height: 0.1875rem;
}

.line.left {
  right: 50%;
}

.line.right {
  left: 50%;
}

.label {
  transition: 0.3s ease-in-out color;
  z-index: 1;
  position: absolute;
  top: 0rem;
  color: var(--default-color);
  white-space: nowrap;
}

.LineInput.focused .label,
.LineInput.focused .icon {
  color: var(--changed-color);
}
