.AddSubjectModal {
  --modalWidth: 25rem;
  top: 10rem;
}

.AddSubjectModal .inner {
  padding: 1.875rem 1.25rem;
  width: var(--modalWidth);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.AddSubjectModal .inputWrapper {
  margin-bottom: 0.625rem;
}

.AddSubjectModal .submit {
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
}
