.ChatContainer {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 55%;
  width: fit-content;
  padding: 0.5rem;
  position: relative;
  word-wrap: break-word;
  background-color: #e5e5ea;
  color: #000;
  margin-bottom: 1.25rem;
  margin-left: 2.5rem;
}

.ChatContainer::before,
.ChatContainer::after {
  bottom: -0.2rem;
  content: "";
  height: 1rem;
  position: absolute;
}

.ChatContainer::before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

.ChatContainer::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 1.25rem;
  transform: translate(-1.875rem, -0.125rem);
  width: 0.625rem;
}

.profileImg {
  position: absolute;
  left: -2rem;
  bottom: 0em;
  z-index: 2;
}

.info {
  position: absolute;
  left: 0rem;
  bottom: -1.1rem;
  font-size: 0.688rem;
  overflow: hidden;
  display: flex;
}

.info .time {
  margin-left: 0.5rem;
  white-space: nowrap;
}

.info .name {
  max-width: 7rem;
  overflow: hidden;
  white-space: nowrap;
}

/* .time {
  position: absolute;
  left: 0rem;
  bottom: -1rem;
  font-size: 0.688rem;
  width: 2.5rem;
  height: 0.6875rem;
  white-space: nowrap;
}
 */
