.DropDownButton {
  position: relative;
  width: fit-content;
  font-weight: 600;
  transition: 0.3s ease-in-out background-color;
  padding: 0em 1em;
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 2em;
  max-width: 10em;
  transition: 0.3s ease-in-out color, 0.3s ease-in-out background-color;
  /* overflow-x: hidden;
  overflow-y: auto; */
}

.DropDownButton.clicked,
.DropDownButton:hover {
  background-color: var(--orange-1);
  color: #000;
}

.DropDownButton i {
  padding-left: 0.5em;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.DropDownButton .disp {
  white-space: nowrap;
  font-size: 1em;
  width: 100%;
  display: flex;
}

.DropDownButton .options {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: var(--orange-1);
  left: 0px;
  width: 100%;
  top: 0em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out,
    top 0.3s ease-in-out;
  z-index: 2;
  max-height: 5em;
  overflow-y: auto;
}

.DropDownButton.clicked .options {
  visibility: visible;
  opacity: 1;
  top: 1.7em;
}

.DropDownButton .option {
  max-width: 100%;
  padding: 0em 0.5em;
}

.DropDownButton i svg {
  transition: 0.3s ease-in-out transform;
}

.DropDownButton.clicked i svg {
  transform: rotate(180deg);
}
