.MainHeader {
  position: fixed;
  top: 0rem;
  height: 5rem;
  width: calc(100vw);
  padding: 0rem var(--main-offset);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: var(--shadow-7);
  z-index: 3;
}

.left,
.right {
  width: 20rem;
}

.right {
  display: flex;
  flex-direction: row-reverse;
}

.center {
  display: flex;
  gap: 3rem;
}

.pages {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 1rem;
}
.page a {
  padding: 1rem;
  color: #000;
  font-weight: 600;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .pages {
    display: none;
  }
}
